@model AdditionalData

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4 text-center">Sunrise & Sunset Data for the Selected City</h2>

            <div class="data-list">
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Date">Date:</label>
                    <span class="data-value">@Model.Date</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Sunrise">Sunrise:</label>
                    <span class="data-value">@Model.Sunrise °C</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Sunset">Sunset:</label>
                    <span class="data-value">@Model.Sunset</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.FirstLight">First Light:</label>
                    <span class="data-value">@Model.FirstLight</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.LastLight">Last Light:</label>
                    <span class="data-value">@Model.LastLight</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Dawn">Dawn:</label>
                    <span class="data-value">@Model.Dawn</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Dusk">Dusk:</label>
                    <span class="data-value">@Model.Dusk</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.SolarNoon">Solar Noon:</label>
                    <span class="data-value">@Model.SolarNoon</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.GoldenHour">Golden Hour:</label>
                    <span class="data-value">@Model.GoldenHour</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.DayLength">Day Length:</label>
                    <span class="data-value">@Model.DayLength</span>
                </div>
                <div class="data-item">
                    <label class="data-label" asp-for="@Model.Timezone">Timezone:</label>
                    <span class="data-value">@Model.Timezone</span>
                </div>
            </div>

            <div class="text-center mt-4">
                <form method="get">
                    <button asp-controller="Forecast" asp-action="SearchCity" class="btn btn-success">Return</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles
{
    <link href="~/css/additional-data.css" type="text/css" rel="stylesheet" />
}