@model CompositeSearchModel

<body>
<div class="container">
    @if (Model.City != null)
    {
        <div class="sub-container">

            <div class="form-group col-md-offset-3 col-md-5">

                <h2>@Localizer["Forecast for the selected city"]</h2>

                <label asp-for="@Model.City.Name"></label>
                <span>@Model.City.Name</span>
                <br />

                <label asp-for="@Model.City.Temp"></label>
                <span>@Model.City.Temp °C</span>
                <br />

                <label asp-for="@Model.City.MinTemp"></label>
                <span>@Model.City.MinTemp °C</span>
                <br />

                <label asp-for="@Model.City.MaxTemp"></label>
                <span>@Model.City.MaxTemp °C</span>
                <br />

                <label asp-for="@Model.City.FeelsLike"></label>
                <span>@Model.City.FeelsLike °C</span>
                <br />

                <label asp-for="@Model.City.Humidity"></label>
                <span>@Model.City.Humidity %</span>
                <br />

                <label asp-for="@Model.City.Pressure"></label>
                <span>@Model.City.Pressure Hpa</span>
                <br />

                <label asp-for="@Model.City.Visibility"></label>
                <span>@Model.City.Visibility m</span>
                <br />

                <label asp-for="@Model.City.Wind"></label>
                <span>@Model.City.Wind Km/h</span>
                <br />

                <label asp-for="@Model.City.Weather"></label>
                <span>@Model.City.Weather</span>
                <br />

                <label asp-for="@Model.City.WeatherDescription"></label>
                <span>@Model.City.WeatherDescription</span>
                <br />

                <label asp-for="@Model.City.WeatherIcon"></label>
                <span><img src="@Model.City.WeatherIcon" title="Weather Icon" /></span>
            </div>

        </div>

        <div class="sub-container">

            <div class="form-group col-md-offset-3 col-md-5">

                <a href="@Url.Action("FullWeatherData", "Forecast", new { latitude = Model.City.Latitude, longitude = Model.City.Longitude, dailyData = "temperature_2m_max" })" class="btn btn-primary">
                    @Localizer["Get the full weather data"]
                </a>

                <form method="get">
                    <button asp-controller="Forecast" asp-action="SearchCity" class="btn btn-success">@Localizer["Return"]</button>
                </form>

            </div>

        </div>
    }
    else if (Model.NotFoundModel != null)
    {
    <div class="container">
        <div class="alert alert-danger" role="alert">
            @Model.NotFoundModel.ErrorMessage
        </div>
    </div>
    }
</div>
</body>

@section Styles
{
    <link href="~/css/city.css" type="text/css" rel="stylesheet" />
}